<h1>Admin Activity</h1>
<th>Description</th><th>Date/Time</th>
<td>Ernest Nichols
 accessed the UniFi Network web application.</td>
<td>13 minutes ago</td>

Ernest Nichols
 accessed the UniFi Network web application.
May 25, 2023 9:29 AM

Ernest Nichols
 accessed the UniFi Network web application.
May 25, 2023 8:37 AM

Ernest Nichols
 accessed the UniFi Network iOS application.
May 24, 2023 6:53 PM

Ernest Nichols
 accessed the UniFi Network iOS application.
May 24, 2023 6:45 PM

Ernest Nichols
 accessed the UniFi Network web application.
May 24, 2023 6:45 PM

Ernest Nichols
 accessed the UniFi Network web application.
May 24, 2023 6:41 PM

Ernest Nichols
 accessed the UniFi Network iOS application.
May 24, 2023 6:41 PM

Ernest Nichols
 accessed the UniFi Network web application.
May 24, 2023 5:40 PM

Ernest Nichols
 accessed the UniFi Network web application.
May 24, 2023 5:38 PM

Ernest Nichols
 accessed the UniFi Network web application.
May 24, 2023 4:47 PM

Ernest Nichols
 accessed the UniFi Network web application.
May 24, 2023 4:47 PM

Ernest Nichols
 accessed the UniFi Network web application.
May 24, 2023 4:44 PM

Ernest Nichols
 accessed the UniFi Network web application.
May 18, 2023 11:13 AM

Ernest Nichols
 accessed the UniFi Network iOS application.
Apr 4, 2023 9:32 AM

Ernest Nichols
 accessed the UniFi Network web application.
Apr 4, 2023 9:00 AM

Ernest Nichols
 accessed the UniFi Network iOS application.
Apr 4, 2023 8:58 AM

Ernest Nichols
 accessed the UniFi Network web application.
Apr 4, 2023 8:45 AM

Ernest Nichols
 accessed the UniFi Network iOS application.
Apr 4, 2023 8:41 AM

Ernest Nichols
 accessed the UniFi Network web application.
Apr 4, 2023 8:40 AM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 28, 2023 8:07 AM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 27, 2023 8:01 AM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 24, 2023 2:12 PM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 21, 2023 2:35 PM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 21, 2023 9:14 AM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 20, 2023 8:32 AM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 17, 2023 1:24 PM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 17, 2023 1:12 PM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 17, 2023 1:05 PM

Ernest Nichols
 accessed the UniFi Network iOS application.
Mar 16, 2023 6:39 PM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 16, 2023 8:57 AM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 16, 2023 8:44 AM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 15, 2023 2:41 PM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 14, 2023 2:52 PM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 14, 2023 1:54 PM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 14, 2023 1:51 PM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 14, 2023 1:46 PM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 14, 2023 1:43 PM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 14, 2023 1:29 PM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 14, 2023 12:12 PM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 14, 2023 8:23 AM

Ernest Nichols
 accessed the UniFi Network web application.
Mar 14, 2023 7:58 AM

Ernest Nichols
 accessed the UniFi Network iOS application.
Mar 13, 2023 5:40 AM

Ernest Nichols
 accessed the UniFi Network iOS application.
Mar 5, 2023 11:23 AM

Ernest Nichols
 accessed the UniFi Network iOS application.
Mar 2, 2023 6:53 PM

</table>