
<!DOCTYPE html>
<html>
    <title>Pricing</title>
    {% include 'header.html' %}
<body>
  <div class="container">

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Hourly Pricing Table</h1>
    <p class="lead">Choose a plan that works best for your business.</p>
  </div>

  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">IT Solutions</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$225<small class="text-muted">/ hr</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>This is rate doesn't include any emergency fees</li>
          <li>Provides one full stack developer/server/database engineer onsite</li>
          <li>Does not include billing for any reporting or analysis</li>
          <li>Is fully back by individuals from several known corporations</li>
          <li>Keep in mind our engineers develop in many environments and my need time to acclimate to yours</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-bd-primary">Get started</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Programming</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$150<small class="text-muted">/ hr</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
            <li>This is rate doesn't include any emergency fees</li>
            <li>Provides one full stack developer/server/database engineer onsite</li>
            <li>Does not include billing for any reporting or analysis</li>
            <li>Is fully back by individuals from several known corporations</li>
            <li>Keep in mind our engineers develop in many environments and my need time to acclimate to yours</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-bd-success">Get started</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Emergency Response Fee</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$500-$1000+<small class="text-muted">/ response</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>This does not include any hourly rate</li>
          <li>Opt out by choosing a time that fits our schedule</li>
          <li>We require a window of at least 2hrs - 3hrs to respond on-site</li>
          <li>We require a window of at least 10m- 1hr to respond remotely</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-bd-danger">Get started</button>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
<script src="static/js/bootstrap.bundle.min.js"></script>
</body>
</html>


